<!--投稿一覧-->
<div class="tweet-main">
  <% @tweets.each do |tweet| %>
    <div class="tweet-text">
      <!--投稿ユーザー名の表示-->
      <div class="name-id">
        <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %>
      </div>
      <!--投稿内容の表示-->
      <div class="text-id">
        <%= link_to tweet.text, tweet_path(tweet.id) %><br>
        <!--お気に入りボタンの表示-->
        <div class="like" id="tweet_<%= tweet.id %>">
          <%= render "index", tweet: tweet %>
        </div>
      </div>
    </div>
  <% end %>
</div>
