<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="content-edit">
      <h3>編集する</h3>
      <%= form_with(model: @tweet, local: true) do |f| %>
        <%= f.text_area :text, placeholder: "text", class: "edit-area" %>
        <%= f.submit "更新", class: "edit-btn" %>
      <% end %>
  </div>
</div>