<div class="wrapper">

  <%= render "shared/side" %>

  <div class="tweet-container">
    <div class="tweet-header">
      <div class="post">
        <%= link_to "新規投稿", new_tweet_path %>
      </div>
    </div>


    <div class="tweet-main">
      <% @tweets.each do |tweet| %>
        <div class="chat-content">
          <div class="tweet-text">
            <div class="name-id">
              <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %>
            </div>
            <div class="text-id">
              <%= link_to tweet.text, tweet_path(tweet.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


