<div class="wrapper">
  <div class="side-container">
    <div class="side-header">
      <div class="name">
        <%= link_to "hoge", "" %>
      </div>
    </div>

    <div class="side-list">
      <div class="log">
        <%= link_to "ログイン", "" %><br>
        <%= link_to "ログアウト", "" %><br>
        <%= link_to "新規登録", "" %>
      </div>
    </div>
  </div>


  <div class="tweet-container">
    <div class="tweet-header">
    </div>
    <div class="tweet-main">
    
    </div>
  </div>
</div>


