<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="new-container">
    <h3>新規投稿</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.text_area :text, placeholder: "text", size: "70 x 5" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>