<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="container"> 
    <div class="fav">
      <%= "#{current_user.nickname}さんのフォロー一覧" %>
    </div>
    <div class="name-id">
      <% @users.each do |user| %>
        <div class="tweet-text">
          <li><%= link_to "#{user.nickname}", user_path(user.id) %></li>
        </div>
      <% end %>
    </div>
  </div>
</div>