// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-container {
  width: 300px;
  border-right: 1px solid lightgray;
}
.side-header {
  height: 20vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.name a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.name {
  margin: auto;
}
.log a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
.side-list {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  height: 65vh;
  padding: 0 20px;
  overflow: scroll;
}
.side-footer {
  height: calc(100vh - 20vh - 65vh);
}
.follow a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}
.follow {
  color: black;
  font-size: 20px;
}





.tweet-container {
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
}
.tweet-header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  height: 147px;
  border-bottom: 2px solid lightgray;
}

.post a {
  font-size: 40px;
  color: #fafafa;
  text-decoration: none;
  text-align: center;
}




.tweet-main {
  height: calc(100vh - 20vh);
  width: calc(100vw - 300px);
  overflow: scroll;
}

.tweet-text {
  font-size: 30px;
  word-wrap: break-word;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid lightgray;
}
.tweet-main :hover {
  background-color: #fafafa;
  transition: all,0.5s;
}



.name-id {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.text-id {
  color: black;
}
.like {
  height: 40px;
  display: flex;
}

.name-id a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.nick-name a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: serif;
}
.text-id a {
  text-decoration: none;
  color: black;
}
.text-id {
  position: relative;
}
.edit {
  float: left;
  position: absolute;
  left: 170px;
  margin-top: -40px;
}
.delete {
  float: left;
  position: absolute;
  left: 250px;
  margin-top: -40px;
}

.edit a {
  font-size: 20px;
  color: black;
  margin-left: 20px;
  text-decoration: none;
  border: solid 2px black;
  opacity: 0.5;
  border-radius: 5px;
}
.edit :hover {
  opacity: 10;
}
.delete a {
  font-size: 20px;
  color: black;
  margin-left: 10px;
  text-decoration: none;
  border: solid 2px black;
  opacity: 0.5;
  border-radius: 5px;
}
.delete :hover {
  opacity: 10;
}

.content-edit {
  margin-left: 30px;
  font-size: 30px;
}
.edit-area {
  width: 550px;
  height: 80px;
  padding: 5px;
  font-size: 16px;
  background: #FFF;
  border: solid 2px black;
  border-radius: 10px;
}
h3 {
  font-style: italic;
}
.edit-btn {
  border-bottom: 4px solid black;
}

.container {
  height: 100vh;
  width: calc(100vw - 300px);
  position: relative;
  overflow: scroll;
}
.header {
  height: 25vh;
  border-bottom: 2px solid lightgray;
}
.user-name {
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 150px;
  font-family: serif;
}
.user-introduction {
  position: absolute;
  top: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 20px 0 15px ;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;
  border-right: double 7px #4ec4d3;
  font-family: serif;
}
.main {
  height: calc(100vh - 35vh);
}
.fa-home {
  font-size: 50px;
  color: #6eb7ff;
  margin-right: 15px;
}

.sign-in {
  width: 60%;
  height: 100vh;
  margin: auto;
  background-color: lightgray;
  border-left: dotted 2px black;
  border-right: dotted 2px black;
}
.form-wrap {
  text-align: center;
  padding-top: 50px;
}
.input-default {
  width: 40%;
  height: 30px;
}
.login-btn {
  margin-top: 20px;
}

.input-area {
  position: relative;
  text-align: center;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: scroll;
}

.form-group {
  margin-top: 20px;
}
.input-introduction {
  width: 70%;
  height: 100px;
}

.text-input {
  width: 50%;
}
.new-container {
  width: calc(100vw - 300px);
  height: 100vh;
  margin-left: 20px;
}
.new-container h2 {
  font-style: italic;
}

.like-btn {
  color: lightgray;
}

.unlike-btn {
  color: red;
}
.fa-heart {
  margin-bottom: 20px;
}

.fav {
  border-bottom: 2px solid lightgray;
  height: 80px;
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.likes {
  font-size: 20px;
  margin-top: 15px;
}

.indispensable {
  font-size: 12px;
}

.form-text-wrap {
  margin-top: 30px;
}
.form-text {
  font-size: 18px;
}
.form-info-header {
  margin-top: 80px;
}

.send {
  width: 50px;
}

.error-message {
  list-style: none;
  color: red;
}
.login-flash-message {
  color: red;
}


//新規登録ボタン//
.btn-sign {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  font-size: 30px;
  border-bottom: solid 6px #627295;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 60px;
}
.btn-sign:active {
  transform: translateY(4px);
  border-bottom: none;
}

//ログアウトボタン//
.btn-logout {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  font-size: 30px;
  border-bottom: solid 6px #627295;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 50px;
}
.btn-logout:active {
  transform: translateY(4px);
  border-bottom: none;
}

//ログインボタン//
.btn-login {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  font-size: 25px;
  border-bottom: solid 6px #627295;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 30px;
}
.btn-login:active {
  transform: translateY(4px);
  border-bottom: none;
}

//新規投稿フォーム//
input[type="text"] {
  font: 15px/36px sans-serif;
	box-sizing: border-box;
  width: 500px;
  height: 50px;
	padding: 10px 10px 0 10px;
	transition: 0.3s;
	letter-spacing: 1px;
	border: none;
	border-bottom: 2px solid #1b2538;
  background: transparent;
}
input[type="text"]:focus {
  border-bottom: 2px solid #da3c41;
  outline: none;
}  

//ツイートボタン//
.new-send {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: skyblue;
  border-bottom: solid 4px #627295;
}
.new-send:active {
  transform: translateY(3px);
  border-bottom: none;
}
////////////////////////////////////

.response {
  position: relative;
  position: absolute;
  background-color: white;
  margin: 10px 0 10px 5px;
  bottom: 50px;
  border-top: double 5px #cce4ff;
}
.comment-footer {
}
.tweet-containers {
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
}




.tweet-mains {
  height: 50vh;
  width: calc(100vw - 300px);
  overflow: scroll;
}

.tweet-texts {
  font-size: 30px;
  word-wrap: break-word;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid lightgray;
}
.tweet-mains :hover {
  background-color: #fafafa;
  transition: all,0.5s;
}


.comment-wrap {
  margin: 5px 0 10px 10px;
  height: 5vh;
}
.comment-content {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 220px;
}
.comment-content button {
  appearance: none;
  border: none;
  border-bottom: 2px solid lightblue;
  color: lightblue;
  outline: none;
  background-color: transparent;
  opacity: 0.8;
}
.comment-content :hover {
  cursor: pointer;
  opacity: 10;
  color: skyblue;
}
.comment-contents {
  font-size: 20px;
}

.actions {
  position: absolute;
  left: 520px;
  top: 45px;
}

.fa-comment {
  margin-left: 20px;
  margin-top: 5px;
  color: lightblue;
}
.field {
  width: calc(100vw - 300px);
}



.delete-comment {
}
.delete-comment a {
  font-size: 20px;
  color: black;
  margin-left: 10px;
  text-decoration: none;
  border: solid 2px black;
  opacity: 0.1;
  border-radius: 5px;
}
.delete-comment :hover {
  opacity: 10;
}

.row {
  display: flex;
}
.success {
  margin: auto;
}

.actions {
  position: absolute;
}

.user-edit {
  display: inline;
}
.user-edit a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  opacity: 0.3;
  border-radius: 5px;
  padding: 2px;
}
.user-edit :hover {
  opacity: 10;
}