// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-container {
  width: 300px;
  background-color: #253141;
}
.side-header {
  height: 20vh;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name a {
  font-size: 25px;
  color: #fafafa;
  text-decoration: none;
}
.name {
  margin: auto;
}
.log a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.side-list {
  background-color: #2f3e51;
  height: 65vh;
  padding: 0 20px;
  overflow: scroll;
}
.side-footer {
  background-color: blue;
  height: calc(100vh - 20vh - 65vh);
}
.follow a {
  color: #fafafa;
  font-size: 30px;
  text-decoration: none;
}
.follow {
  color: #fafafa;
  font-size: 20px;
}





.tweet-container {
  width: calc(100vw - 300px);
  height: 100vh;
}
.tweet-header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  height: 20vh;
}
.tweet-main {
  background-color: #fafafa;
  height: calc(100vh - 20vh);
  width: calc(100vw - 300px);
  overflow: scroll;
}

.post a {
  font-size: 40px;
  color: #fafafa;
  text-decoration: none;
  text-align: center;
}

.tweet-text {
  border: double 5px grey;
  margin: 20px 20px 0px 20px;
  font-size: 30px;
  border-radius: 10px;
  background: lightgrey;
  word-wrap: break-word;
  padding: 10px 5px;
}

.name-id {
  color: black;
  border-bottom: solid 1px black;
}
.name-id a {
  text-decoration: none;
  font-size: 25px;
}
.text-id a {
  text-decoration: none;
}
.edit a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.container {
  height: 100vh;
  width: calc(100vw - 300px);
  position: relative;
}
.header {
  background-color: red;
  height: 35vh;
}
.user-name {
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 150px;
}
.user-introduction {
  position: absolute;
  top: 70px;
  border: solid 1px black;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  overflow: scroll;
}
.main {
  background-color: skyblue;
  height: calc(100vh - 35vh);
  overflow: scroll;
}
.fa {
  font-size: 50px;
  color: #6eb7ff;
}

.sign-in {
  width: 60%;
  height: 100vh;
  margin: auto;
  background-color: lightgray;
  border-left: dotted 2px black;
  border-right: dotted 2px black;
}
.form-wrap {
  text-align: center;
  padding-top: 50px;
}
.input-default {
  width: 40%;
  height: 30px;
}
.login-btn {
  margin-top: 20px;
}

.input-area {
  text-align: center;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: scroll;
}

.form-group {
  margin-top: 20px;
}
.input-introduction {
  width: 70%;
  height: 100px;
}
