// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-container {
  width: 300px;
  border-right: 1px solid lightgray;
}
.side-header {
  height: 20vh;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.name {
  margin: auto;
}
.log a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
.side-list {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  height: 65vh;
  padding: 0 20px;
  overflow: scroll;
}
.side-footer {
  height: calc(100vh - 20vh - 65vh);
}
.follow a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}
.follow {
  color: black;
  font-size: 20px;
}





.tweet-container {
  width: calc(100vw - 300px);
  height: 100vh;
}
.tweet-header {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  height: 147px;
  border-bottom: 2px solid lightgray;
}
.tweet-main {
  background-color: #fafafa;
  height: calc(100vh - 20vh);
  width: calc(100vw - 300px);
  overflow: scroll;
}

.post a {
  font-size: 40px;
  color: #fafafa;
  text-decoration: none;
  text-align: center;
}

.tweet-text {
  border: double 5px #eeeeee;
  margin: 20px 20px 0px 20px;
  font-size: 30px;
  border-radius: 10px;
  background: lightgrey;
  word-wrap: break-word;
  padding: 10px 5px;
}

.name-id {
  border-bottom: solid 2px black;
}
.name-id a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.text-id a {
  text-decoration: none;
  color: black;
}
.edit a {
  font-size: 30px;
  color: black;
  margin-left: 20px;
  text-decoration: none;
  border: solid 3px black;
}
.content-edit {
  margin-left: 30px;
  font-size: 30px;
}

.container {
  height: 100vh;
  width: calc(100vw - 300px);
  position: relative;
  overflow: scroll;
}
.header {
  height: 25vh;
  border-bottom: 2px solid lightgray;
}
.user-name {
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 150px;
}
.user-introduction {
  position: absolute;
  top: 60px;
  border: solid 1px black;
  border-radius: 10px;
  margin: 10px 25px 10px 20px;
  padding: 10px;
  overflow: scroll;
}
.main {
  height: calc(100vh - 35vh);
}
.fa-twitter {
  font-size: 50px;
  color: #6eb7ff;
}

.sign-in {
  width: 60%;
  height: 100vh;
  margin: auto;
  background-color: lightgray;
  border-left: dotted 2px black;
  border-right: dotted 2px black;
}
.form-wrap {
  text-align: center;
  padding-top: 50px;
}
.input-default {
  width: 40%;
  height: 30px;
}
.login-btn {
  margin-top: 20px;
}

.input-area {
  text-align: center;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: scroll;
}

.form-group {
  margin-top: 20px;
}
.input-introduction {
  width: 70%;
  height: 100px;
}

.text-input {
  width: 50%;
}
.new-container {
  width: calc(100vw - 300px);
  height: 100vh;
  margin-left: 20px;
}

.like-btn {
  color: #fafafa;
}

.unlike-btn {
  color: red;
}

.fav {
  border-bottom: 2px solid lightgray;
  height: 80px;
  font-size: 30px;
  padding: 10px 0 0 50px;
}

.likes {
  font-size: 20px;
  margin-top: 15px;
}

.indispensable {
  font-size: 12px;
}

.form-text-wrap {
  margin-top: 30px;
}
.form-text {
  font-size: 18px;
}
.form-info-header {
  margin-top: 80px;
}

.send {
  width: 50px;
}

.error-message {
  list-style: none;
  color: red;
}
.login-flash-message {
  color: red;
}